<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
</head>
<body>
	<% if(message){ %>
		<div style='color:red'><%= message %></div>
	<% } %>
	<% if(errors){ %>
		<ul>
			<% for(error in errors){ %>
			<li style='color:red;list-style-type:none'><%= errors[error].msg %></li>
			<% } %>
		</ul>
	<% }%>
	
	
	<h1>Register here</h1>
	<form action='/register' method='post'>
		<div>
			<label>Username: </label>
			<input type='text' name='username' placeholder='username'>
		</div>
		<div>
			<label>Password: </label>
			<input type='password' name='password' placeholder='password'>
		</div>
		<input type='submit' value='Register'>
	</form>
	<p><a href='/login'>Click here to log in if you have already registerd</a></p>
</body>
</html>