<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
</head>
<body>
	<h1>Register here</h1>
	<form action='/register' method='post'>
		<div>
			<label>Username: </label>
			<input type='text' name='username' placeholder='username'>
		</div>
		<div>
			<label>Password: </label>
			<input type='password' name='password' placeholder='password'>
		</div>
		<input type='submit' value='Register'>
	</form>
	<h2><a href='/login'>Click here to log in if you have already registerd</a></h2>
</body>
</html>