<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<style>
		.red{
			color:red;
		}
		.inline{
			display:inline;
		}
	</style>
</head>
<body>
	<h1>Register here</h1>
	<% if(message){ %>
		<div class="red"><%= message %></div>
	<% } %>
	<form action='/register' method='post'>
		<div>
			<label>Username: </label>
			<input type='text' name='username' placeholder='username'>
			<%  if(errors){ %>
				<% for(error in errors){ 
						if((errors[error].msg) == "A username is required"){ %>
							<p class="red inline"><%= errors[error].msg %></p>
						<% } %>
					<% } %>
				<% } %>
		</div>
		<div>
			<label>Password: </label>
			<input type='password' name='password' placeholder='password'>
			<%  if(errors){ %>
				<% for(error in errors){ 
						if((errors[error].msg) == "A password is required"){ %>
							<p class="red inline"><%= errors[error].msg %></p>
						<% } %>
					<% } %>
				<% } %>
		</div>
		<input type='submit' value='Register'>
	</form>
	<p><a href='/login'>Click here to log in if you have already registered</a></p>
</body>
</html>