<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
</head>
<body>
	<% if(message.length>0){ %>
		<div style='color:red'><%= message %></div>
	<% } %>
	<% if(errors){ %>
		<ul>
			<% for(error in errors){ %>
			<li style='color:red'><%= errors[error].msg %></li>
			<% } %>
		</ul>
	<% }%>
	<h1>Log in here</h1>
	<form action='/login' method='post'>
		<div>
			<label>Username: </label>
			<input type='text' name='username' placeholder='username'>
		</div>
		<div>
			<label>Password: </label>
			<input type='password' name='password' placeholder='password'>
		</div>
		<input type='submit' value='Log in'>
	</form>
	<p><a href='/'>Click here to register</a></p>
</body>
</html>