<!DOCTYPE html>
<html>
<head>
	<title>Logged in</title>
</head>
<body>
	<h1>Welcome <%= user.username %></h1>
	<h3>Log out below</h3>
	<form action='/logout' method='post'>
		<input type='submit' value='Log out'>
	</form>
</body>
</html>